@model DevelopersApplication.Models.ViewModels.UpdateCoder

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="~/Content/coder.css" />
<div class="container-fluid">
    <div class="form-container">
        <h2>Update Coder</h2>
        <form action="/Coder/Update/@Model.SelectedCoder.CoderId" method="POST" enctype="multipart/form-data">
            <div style="display:none;">
                @* Pass through the Coder Id *@
                <input type="text" name="CoderID" value="@Model.SelectedCoder.CoderId" class="formcontrol" />
            </div>
            <div class="formgroup">
                <label class="label" for="Name">Name</label>
                <input type="text" name="Name" value="@Model.SelectedCoder.Name" class="formcontrol"/>
            </div>
            <div class="formgroup">
                <label class="label" for="Bio">Bio</label>
                <input type="text" name="Bio" value="@Model.SelectedCoder.Bio" class="formcontrol"/>
            </div>
            <div class="formgroup">
                <label class="label" for="Company">Company</label>
                <input type="text" name="Company" value="@Model.SelectedCoder.Company" class="formcontrol"/>
            </div>
            <div class="formgroup">
                <label class="label">CareerId</label>

                <select name="CareerId" class="formcontrol">
                    @foreach (var careers in Model.CareerOptions)
                    {
                        string selected = "";
                        if (careers.CareerId == Model.SelectedCoder.CareerId)
                        {
                            selected = "selected";
                        }
                        <option value="@careers.CareerId" @selected>@careers.CareerName</option>

                    }
                </select>
            </div>
            <div class="upload">
                <input class="associate" type="file" name="CoderPic" />
            </div>
            <div>
                <input class="update-btn" type="submit" value="Update Coder" />

            </div>
        </form>
    </div>
</div>
