@model DevelopersApplication.Models.CoderxProgrammingLanguage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoderxProgrammingLanguage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingLanguage.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammingLanguage.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavLang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavLang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoderxPLId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
